.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;

    .item {
        position: absolute;
        width: 100px;
        height: 100px;
        // margin-left: -50px;
        // margin-top: -50px;

    }

    .hide {
        display: none;
    }
}

.Preimage {
    background: url(../img/blurlanding.jpg);
    position: relative;
    width: 100vw;
    height: 100%;

    .blue{
        background-color: rgba(111, 150, 255, 0.507);
        position: relative;
        width: 100vw;
        height: 100%;
    }
}