@import url("https://fonts.googleapis.com/css?family=Lato");
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
/* line 1, ../sass/global.scss */
html, body {
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* line 8, ../sass/global.scss */
section {
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/preloader.scss */
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
/* line 7, ../sass/preloader.scss */
.preloader .item {
  position: absolute;
  width: 100px;
  height: 100px;
}
/* line 16, ../sass/preloader.scss */
.preloader .hide {
  display: none;
}

/* line 21, ../sass/preloader.scss */
.Preimage {
  background: url(../img/blurlanding.jpg);
  position: relative;
  width: 100vw;
  height: 100%;
}
/* line 27, ../sass/preloader.scss */
.Preimage .blue {
  background-color: rgba(111, 150, 255, 0.507);
  position: relative;
  width: 100vw;
  height: 100%;
}

/* line 1, ../sass/landing.scss */
.image {
  background: url(../img/landing.png);
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 10;
}

/* line 9, ../sass/landing.scss */
.landing {
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 51, 192, 0.384);
  color: #fff;
  background-size: cover;
}
/* line 18, ../sass/landing.scss */
.landing .content {
  position: relative;
  width: 700px;
  margin: 0 auto;
  height: 100%;
}
/* line 24, ../sass/landing.scss */
.landing .content .text {
  text-align: center;
  margin: auto;
  width: 700px;
  height: 520px;
}
/* line 32, ../sass/landing.scss */
.landing .content a .hide {
  display: none;
}
/* line 36, ../sass/landing.scss */
.landing .content a i {
  color: #ffffff;
}
/* line 42, ../sass/landing.scss */
.landing hr {
  color: #ffffff;
  margin-top: 30px;
  background-color: #ffffff;
  height: 2px;
  width: 106px;
  border: 0;
}

/* line 52, ../sass/landing.scss */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 290px;
  margin-top: 90px;
  position: relative;
  z-index: 2;
}

/* line 60, ../sass/landing.scss */
.land-intro {
  font-size: large;
  text-align: center;
  margin-top: 55px;
}

/* line 66, ../sass/landing.scss */
.read-more {
  width: 183px;
  height: 47px;
  margin: 100px auto;
  line-height: 47px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  background: none;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
/* line 85, ../sass/landing.scss */
.read-more:hover {
  color: white;
  background: #0177B5;
  border: 1px solid #ffffff;
}

/* line 92, ../sass/landing.scss */
.social {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  overflow: hidden;
}
/* line 98, ../sass/landing.scss */
.social a {
  color: inherit;
  text-decoration: none;
}
/* line 103, ../sass/landing.scss */
.social i {
  margin: 12px;
  margin-top: 0px !important;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
/* line 110, ../sass/landing.scss */
.social i:hover {
  margin-top: -1px;
}
/* line 114, ../sass/landing.scss */
.social i#twitter:hover {
  color: #77DDF6;
}
/* line 118, ../sass/landing.scss */
.social i#github:hover {
  color: black;
}
/* line 122, ../sass/landing.scss */
.social i#linkedin:hover {
  color: #0177B5;
}
/* line 126, ../sass/landing.scss */
.social i#code:hover {
  color: #29A329;
}
/* line 130, ../sass/landing.scss */
.social i#stack:hover {
  color: #FF9900;
}
/* line 134, ../sass/landing.scss */
.social i#facebook:hover {
  color: #0177B5;
}

/* line 140, ../sass/landing.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/nav.scss */
.menu {
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #f2f2f2;
  z-index: 1000;
}

/* line 9, ../sass/nav.scss */
.menu-content {
  width: 900px;
  position: relative;
  margin: 0 auto;
}
/* line 14, ../sass/nav.scss */
.menu-content .logo {
  color: #333;
  font-weight: 700;
  font-size: 24px;
  width: 300px;
  line-height: 60px;
  float: left;
  list-style: none;
}
/* line 24, ../sass/nav.scss */
.menu-content ul {
  width: 500px;
  left: 50%;
  float: right;
  text-align: right;
  list-style: none;
  margin-top: 0px;
}
/* line 33, ../sass/nav.scss */
.menu-content li {
  display: inline-block;
  position: relative;
}
/* line 37, ../sass/nav.scss */
.menu-content li a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 0 20px 0 20px;
  line-height: 60px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 50, ../sass/nav.scss */
.menu-content li a:active {
  color: #0033c0;
}
/* line 53, ../sass/nav.scss */
.menu-content li a:active:hover {
  color: #0033c0;
}

/* line 1, ../sass/about.scss */
.about {
  width: 100%;
  background: white;
  z-index: 10;
}
/* line 6, ../sass/about.scss */
.about .content {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 12, ../sass/about.scss */
.about h1 {
  font-size: 34px;
  color: black;
  text-align: center;
  margin: 0;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
/* line 23, ../sass/about.scss */
.about hr {
  color: black;
  margin-top: 30px;
  background-color: black;
  height: 1px;
  width: 106px;
  border: 0;
}
/* line 32, ../sass/about.scss */
.about p.title {
  color: #a4a4a4;
  margin: 40px auto;
  width: 300px;
  line-height: 26px;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
/* line 44, ../sass/about.scss */
.about h4.title a {
  color: #0033c0;
}
/* line 49, ../sass/about.scss */
.about h2, .about .TitleList .Title, .TitleList .about .Title {
  text-align: center;
  margin-top: 50px;
  font-size: 26px;
  color: black;
  line-height: 1.2;
  letter-spacing: 6px;
  width: 100%;
  position: relative;
  font-weight: 400;
}
/* line 61, ../sass/about.scss */
.about p {
  text-align: center;
  font-size: 14px;
  width: 250px;
  margin: 30px auto;
  color: #a4a4a4;
  line-height: 26px;
  letter-spacing: 0;
  position: relative;
  font-weight: 300;
}
/* line 73, ../sass/about.scss */
.about .column-one {
  margin-top: 40px;
  width: 300px;
  float: left;
  margin-bottom: 70px;
  height: 350px;
}
/* line 80, ../sass/about.scss */
.about .column-one .circle-one {
  height: 100px;
  position: relative;
  margin: 0 auto;
  border: 2px solid #f0f0f0;
  background: url(../img/code.png) white no-repeat center center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 100px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 96, ../sass/about.scss */
.about .column-one .circle-one:hover {
  border: 2px solid #0033c0;
}
/* line 102, ../sass/about.scss */
.about .column-two {
  margin-top: 40px;
  width: 300px;
  float: left;
  margin-bottom: 70px;
  height: 350px;
}
/* line 109, ../sass/about.scss */
.about .column-two .circle-two {
  height: 100px;
  position: relative;
  margin: 0 auto;
  border: 2px solid #f0f0f0;
  background: url(../img/bat.png) white no-repeat center center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 100px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 125, ../sass/about.scss */
.about .column-two .circle-two:hover {
  border: 2px solid #0033c0;
}
/* line 131, ../sass/about.scss */
.about .column-three {
  margin-top: 40px;
  width: 300px;
  float: left;
  margin-bottom: 70px;
  height: 350px;
}
/* line 138, ../sass/about.scss */
.about .column-three .circle-three {
  height: 100px;
  position: relative;
  margin: 0 auto;
  border: 2px solid #f0f0f0;
  background: url(../img/tick.png) white no-repeat center center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 100px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 154, ../sass/about.scss */
.about .column-three .circle-three:hover {
  border: 2px solid #0033c0;
}
/* line 160, ../sass/about.scss */
.about hr.break {
  margin-top: 30px;
  background-color: #f2f2f2;
  height: 2px;
  width: 100%;
  border: 0;
}

/* line 15, ../sass/hero.scss */
#port {
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

/* line 23, ../sass/hero.scss */
h2, .TitleList .Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

/* line 30, ../sass/hero.scss */
p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

/* line 48, ../sass/hero.scss */
.Hero {
  width: 100%;
  position: relative;
  background-size: cover;
  min-height: 800px;
}
/* line 54, ../sass/hero.scss */
.Hero .content {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  padding: 15px;
  z-index: 4;
  width: 500px;
  left: 10vw;
  top: 10vw;
}
/* line 64, ../sass/hero.scss */
.Hero .content .logo {
  max-width: 400px;
  display: block;
  position: relative;
  left: -5px;
}
/* line 71, ../sass/hero.scss */
.Hero .content p {
  width: 100%;
}
/* line 75, ../sass/hero.scss */
.Hero .content .button-wrapper {
  display: flex;
  width: 400px;
  margin-top: 30px;
}
/* line 80, ../sass/hero.scss */
.Hero .content .button-wrapper .Button:first-child {
  margin-right: 10px;
}
/* line 85, ../sass/hero.scss */
.Hero .overlay {
  background: -moz-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(180deg);
}

/* line 99, ../sass/hero.scss */
.Button {
  background: transparent;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  transition: border .125s ease, background .125s ease;
}
/* line 115, ../sass/hero.scss */
.Button:hover {
  border: 4px solid #0033c0;
  font-weight: bolder;
}

/* line 123, ../sass/hero.scss */
.Hero ~ .TitleList:nth-child(3) {
  margin-top: -10vw;
  position: relative;
  z-index: 4;
}

/* line 130, ../sass/hero.scss */
.TitleList {
  padding: 20px 40px;
  box-sizing: border-box;
  transition: opacity 3s ease;
}
/* line 139, ../sass/hero.scss */
.TitleList .titles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  width: calc(100vw - 80px);
  box-sizing: border-box;
  justify-content: space-between;
}
/* line 152, ../sass/hero.scss */
.TitleList[data-loaded='true'] {
  opacity: 1;
}

/* line 159, ../sass/hero.scss */
.itemWrap {
  padding: 10px 40px;
}

/* line 162, ../sass/hero.scss */
.Item {
  width: calc(20% - 10px);
  min-width: calc(20% - 10px);
  background-color: #000000;
  flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 200px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 10px;
  transition: background 1s ease;
  display: inline-block;
}
/* line 176, ../sass/hero.scss */
.Item:nth-child(n+6) {
  margin-top: 20px;
}
/* line 180, ../sass/hero.scss */
.Item:last-child {
  margin-right: 0;
}
/* line 184, ../sass/hero.scss */
.Item .overlay {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .125s ease;
}
/* line 193, ../sass/hero.scss */
.Item .overlay .title {
  font-size: 22px;
  font-weight: bold;
  opacity: 0;
  transition: opacity .25s ease;
}
/* line 201, ../sass/hero.scss */
.Item .overlay .rating {
  font-size: 14px;
  opacity: 0;
  transition: opacity .25s ease .125s;
}
/* line 208, ../sass/hero.scss */
.Item .overlay .plot {
  font-size: 14px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin .25s ease .125s, opacity .25s ease .25s;
}
/* line 225, ../sass/hero.scss */
.Item:hover {
  background-size: 150%;
}
/* line 228, ../sass/hero.scss */
.Item:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
/* line 232, ../sass/hero.scss */
.Item:hover .overlay .plot {
  margin-top: 10px;
  opacity: 1;
}
/* line 237, ../sass/hero.scss */
.Item:hover .overlay .title {
  opacity: 1;
}
/* line 241, ../sass/hero.scss */
.Item:hover .overlay .rating {
  opacity: 1;
}
/* line 245, ../sass/hero.scss */
.Item:hover .overlay .ListToggle {
  opacity: 1;
}

/* line 255, ../sass/hero.scss */
.ListToggle {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 32px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 267, ../sass/hero.scss */
.ListToggle:hover {
  border: 2px solid #ffffff;
}
/* line 269, ../sass/hero.scss */
.ListToggle:hover div {
  top: -32px;
}
/* line 274, ../sass/hero.scss */
.ListToggle[data-toggled="true"] {
  background: #0033c0;
  border: 2px solid #0033c0;
}
/* line 277, ../sass/hero.scss */
.ListToggle[data-toggled="true"] div {
  top: -32px;
}
/* line 282, ../sass/hero.scss */
.ListToggle div {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 32px;
  transition: .125s ease;
}
/* line 290, ../sass/hero.scss */
.ListToggle div i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}
